<% if food_records.present? %>
  <% food_records.each do |food_record| %>
    <div class="mb-2 text-center">
      <%= date_format(food_record.food_date) %>
      <%= food_record.food_name %>
      <%= link_to edit_food_record_path(food_record) do %>
        <i class="far fa-edit text-info"></i>
      <% end %><br>
      <%= link_to food_record_path(food_record) do %>
        <%= image_tag food_record.image.url %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>表示可能な料理がありません。</p>
<% end %>
