<%= search_form_for search do |f| %>

  <div class="mx-auto row">
    <div class="form-group col-12">
      <%= f.label :food_name, "料理名" %>
      <%= f.search_field :food_name_cont, class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= f.label :total_score %>
      <%= f.select :total_score_gteq, Constants::TOTAL_SCORE, {}, class: "form-control", id: "select1a" %>以上
    </div>

    <div class="form-group col-4">
      <%= f.label :healthy_score %>
      <%= f.select :healthy_score_eq, Constants::HEALTHY_SCORE, {}, class: "form-control", id: "select1a" %>以上
    </div>

    <div class="form-group col-4">
      <%= f.label :workload_score %>
      <%= f.select :workload_score_eq, Constants::WORKLOAD_SCORE, {}, class: "form-control", id: "select1a" %>以上
    </div>

    <div class="form-group text-center w-100">
        <%= f.label :food_timing, {class: 'form-label'} %>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active">
          <%= f.radio_button :food_timing_eq, "", {checked: true} %> 未選択
        </label>
        <label class="btn btn-outline-secondary">
          <%= f.radio_button :food_timing_eq, "morning", {} %> 朝
        </label>
        <label class="btn btn-outline-secondary">
          <%= f.radio_button :food_timing_eq, "lunch", {} %> 昼
        </label>
        <label class="btn btn-outline-secondary">
          <%= f.radio_button :food_timing_eq, "dinner", {} %> 夜
        </label>
        <label class="btn btn-outline-secondary">
          <%= f.radio_button :food_timing_eq, "snack", {} %> 間食
        </label>
      </div>
    </div>

    <div class="form-group text-center">
      <%= f.label :food_date %><br/>
      <%= f.date_field :food_date_gteq %>〜
      <%= f.date_field :food_date_lteq  %>
    </div>

    <div class="actions mx-auto">
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

