<main id="nottop" class="text-center mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted mb-3">料理編集</h2>

    <div class="text-right">
      <%= link_to food_record_path(@food_record), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
        <i class="fas fa-trash-alt fa-lg"></i>
      <% end %>
    </div>
    <div class="card mx-auto" style="max-width: 400px;">
      <%= image_tag @food_record.image.url, class: "card-img" %>
    </div>

    <%= form_with(model: @food_record, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= render partial: "input_tags", locals: { f: f } %>

      <div class="form-group">
        <%= f.label :food_name, "料理名" %><br />
        <%= f.text_field :food_name, autofocus: true, class: 'form-control w-75  mx-auto' %>
      </div>

      <div class="form-group">
        <%= f.label :food_date, "日付" %><br />
        <%= f.date_field :food_date, autofocus: true, class: 'form-control w-75  mx-auto' %>
      </div>

      <div class="form-group">
        <%= f.label :total_score, "総合得点" %><br />
        <%= f.select :total_score, Constants::TOTAL_SCORE, {}, class: "form-control  w-75 mx-auto" %>
      </div>

      <div class="form-group">
        <%= f.label :workload_score, "調理の手間" %><br />
        <%= f.select :workload_score, Constants::WORKLOAD_SCORE, {}, class: "form-control w-75 mx-auto" %>
      </div>

      <div class="form-group">
        <%= f.label :healthy_score, "カロリー" %><br />
        <%= f.select :healthy_score, Constants::HEALTHY_SCORE, {}, class: "form-control w-75 mx-auto" %>
      </div>

      <div class="form-group text-center w-100">
        <%= f.label :food_timing %>
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary active">
            <%= f.radio_button :food_timing, "" %> 未選択
          </label>
          <label class="btn btn-outline-secondary">
            <%= f.radio_button :food_timing, "morning", {} %> 朝
          </label>
          <label class="btn btn-outline-secondary">
            <%= f.radio_button :food_timing, "lunch", {} %> 昼
          </label>
          <label class="btn btn-outline-secondary">
            <%= f.radio_button :food_timing, "dinner", {} %> 夜
          </label>
          <label class="btn btn-outline-secondary">
            <%= f.radio_button :food_timing, "snack", {} %> 間食
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :memo, "メモ" %><br />
        <textarea class="form-control w-75 mx-auto" rows="3" name="item[memo]" id="item_memo"></textarea>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "btn btn-outline-primary w-25" %>
      </div>
    <% end %>
    </div>
</main>
