<h1>FoodRecords#index</h1>
<p>Find me in app/views/food_records/index.html.erb</p>

<h2><%= current_user.name %>さんの タグ一覧</h2>
<%= render partial: "tags", locals: { tags: @tags } %>

<h2><%= current_user.name %>さんの 料理一覧</h2>
<p><%= render partial: "foods", locals: { food_records: @food_records } %></p>

<h2>料理の絞り込み</h2>
<p><%= render partial: "search", locals: { search: @search } %></p>

<h2>フォロー中ユーザーの 料理一覧</h2>
<p><%= render partial: "foods", locals: { food_records: @food_records_followings } %></p>
