<main id="nottop" class="text-center mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <div class="h5 text-muted">
      <%= date_format(@food_record.food_date) %><br/>
      <%= day_format(@food_record.food_date) %>
    </div>
    <div class="h3">
      <%= @food_record.food_name %>
    </div>
    <% if @food_record.user_id == current_user.id %>
      <div class="text-right">
      <%= link_to edit_food_record_path(@food_record) do %>
        <i class="far fa-edit fa-lg"></i>
      <% end %>
      </div>
    <%end %>
    <div>
    <div class="card mx-auto" style="max-width: 400px;">
      <%= image_tag @food_record.image.url, class: "card-img" %>
      <div class="card-img-overlay text-left">
        <%= render partial: "tags", locals: { tags: @tags } %>
      </div>
      <div class="card-body row">
        <div class="col"><%= star(@food_record.total_score) %></div>
        <div class="col"><%= render partial: 'favorite' %></div>
      </div>
    </div>

    <div class="d-none" id="workload_score" ><%= @food_record.workload_score %></div>
    <div class="d-none" id="healthy_score"><%= @food_record.healthy_score %></div>
    <div class="d-flex justify-content-between text-danger">
      <div class="p-2">楽(調理)</div>
      <div class="p-2"></div>
      <div class="p-2">大変(調理)</div>
    </div>
    <canvas id="myChart"></canvas>
    <div class="d-flex justify-content-between text-primary">
      <div class="p-2">オイリー</div>
      <div class="p-2"></div>
      <div class="p-2">ヘルシー</div>
    </div>
    <%= javascript_pack_tag "graph" %>

    <div><%= "#{cov_score_to_adverb("楽", "大変", @food_record.workload_score)} / #{cov_score_to_adverb("こってり", "ヘルシー", @food_record.healthy_score)}" %></div>
    <p>時間帯：<%= cov_en_to_ja(@food_record.food_timing) %></p>
    <p>メモ：<%= @food_record.memo %></p>

    <% if @food_record.weather_main.present? %>
      <div class="row border-top">
      <div class="col text-right"><%= image_tag "http://openweathermap.org/img/wn/#{@food_record.weather_icon.chop}d@2x.png" %></div>
      <div class="col text-left d-flex align-items-center">
        <div class="h4"><%= @food_record.temp %></div>
        <div>℃</div>
      </div>
    </div>
    <div class="text-muted">気圧：<%= "#{@food_record.pressure}hPa" %></div>
    <div class="text-muted">湿度：<%= "#{@food_record.humidity}%" %></div>
    <% else %>
      <p>登録された天気情報なし</p>
    <% end %>

    <div class="border-top">
      <%= render partial: 'fr_comments/new' %>
    </div>
  </div>
</main>
