<h1>FoodRecords#show</h1>
<p>Find me in app/views/food_records/show.html.erb</p>

<%= image_tag @food_record.image.url %>

<p>料理名：<%= @food_record.food_name %></p>
<p>総合得点：<%= star(@food_record.total_score) %></p>
<p>調理の手間：<%= cov_score_to_adverb("楽", "大変", @food_record.workload_score) %></p>
<p>ヘルシー：<%= cov_score_to_adverb("こってり", "ヘルシー", @food_record.healthy_score) %></p>
<p>時間帯：<%= cov_en_to_ja(@food_record.food_timing) %></p>
<p>メモ：<%= @food_record.memo %></p>
