<h1>FoodRecords#show</h1>
<p>Find me in app/views/food_records/show.html.erb</p>

<%= image_tag @food_record.image.url %>

<p><%= render partial: "tags", locals: { tags: @tags } %></p>

<p>料理名：<%= @food_record.food_name %></p>
<p>日付：<%= date_format(@food_record.food_date) %></p>
<p>総合得点：<%= star(@food_record.total_score) %></p>
<p>調理の手間：<%= cov_score_to_adverb("楽", "大変", @food_record.workload_score) %></p>
<p>ヘルシー：<%= cov_score_to_adverb("こってり", "ヘルシー", @food_record.healthy_score) %></p>
<p>時間帯：<%= cov_en_to_ja(@food_record.food_timing) %></p>
<p>メモ：<%= @food_record.memo %></p>

<% if @food_record.user_id == current_user.id %>
  <%= link_to "編集", edit_food_record_path(@food_record) %>
<%end %>

<%= render partial: 'favorite' %>

<h2>天気情報</h2>
<% if @food_record.weather_main.present? %>
  <p>天気：<%= @food_record.weather_main %></p>
  <p>気温：<%= "#{@food_record.temp} (#{@food_record.temp_min}~#{@food_record.temp_max})[℃]" %></p>
  <p>気圧：<%= "#{@food_record.pressure}[hPa]" %></p>
  <p>湿度：<%= "#{@food_record.humidity}[%]" %></p>
  <%= image_tag "http://openweathermap.org/img/wn/#{@food_record.weather_icon.chop}d@2x.png" %>
<% else %>
  <p>登録された天気情報なし</p>
<% end %>

<%= render partial: 'fr_comments/new' %>
