
<main id="nottop" class="text-center mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted">ログインする</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-75' %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-75' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="border-top">
        <%= render "users/shared/links" %>
    </div>

  </div>
</main>
