<div class="bg_text border-bottom pb-2 text-center">
  <% if @food_recommend.present? %>
    <p>今日のおすすめ料理</p>
    <%= image_tag @food_recommend.image.url, id:"img_background" %>
  <% else %>
    <p>作った料理  <%= @food_records.count %>品</p>
    <%= image_tag @food_records.first.image.url, id:"img_background" %>
  <% end %>
</div>

<div class = "container mt-2">
  <div class = "row">
    <% @food_records.each do |fr| %>
      <div class = "col-4 d-flex align-items-center justify-content-center">
        <%= link_to food_record_path(fr), class: "card border-0" do %>
        <div class = "card mb-2">
          <%= image_tag fr.image.url, id: "fr_index" %>
          <div id="food_date">
            <div><%= l fr.food_date, format: :short %></div>
            <div><%= fr.food_date.strftime("%a") %></div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div>
    <%= link_to "登録情報を変更する", edit_user_registration_path %>
    <%= link_to "ユーザ削除", user_registration_path, method: :delete, data: { confirm: "You sure?" } %>
  </div>
  <div>
     <%= link_to("ユーザ一覧", users_url) %>
  </div>
  <div>
    <%= link_to "料理を登録する", new_food_record_path %>
    <%= link_to "料理一覧", food_records_path %>
  </div>
  <div>
    <%= link_to "お裾分けを募集する", new_food_share_path %>
    <%= link_to "お裾分け料理の一覧", food_shares_path %>
  </div>
<% end %>
