<div>
  <h4>コメント</h4>
  <div class="border-bottom" id="comments_body">
    <% @food_record.fr_comments.each do |comment| %>
      <div class="border-top row">
        <div class="col-2 d-flex align-items-center">
          <% if comment.user.image.present? %>
            <%= image_tag comment.user.image.url, id: "comment_user_img" %>
          <% else %>
            <%= image_pack_tag "user_default.png", id: "comment_user_img" %>
          <% end %>
        </div>
        <div class="col-10">
          <div class="small text-muted text-left"><%= comment.user.name %></div>
          <div class="float-right">
            <% if comment.user == current_user %>
              <%= link_to  food_record_fr_comment_path(@food_record, comment), method: :delete, remote: true do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
          <div class="text-left text-break">
            <%= comment.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
