<% if food_shares.present? %>
  <hr>
  <% food_shares.each do |food_share| %>

    <div class="mx-4">
      <div class="row">
        <div class="col h4 my-auto"><strong><%= food_share.food_name %></strong></div>
        <div class="col"><%= food_share.user.name %>
          <%= link_to user_path(food_share.user) do %>
            <%= render partial: '/users/index_user_icon', locals: { user: food_share.user } %>
          <% end %>
        </div>
        <% if food_share.user.id == current_user.id %>
          <%= link_to edit_food_share_path(food_share) do %>
            <i class="far fa-edit fa-lg"></i>
          <% end %>
        <% end %>
      </div>

      <div class="card mx-auto" style="max-width: 400px;">
        <%= link_to food_share_path(food_share) do %>
          <%= image_tag food_share.image.url, class: "card-img" %>
          <div class="card-img-overlay text-center text-white">
            <% case status %>
            <% when "before" then %>
              <div class="bg-info">募集中</div>
            <% when "undone" then %>
              <div class="bg-danger">お裾分け前</div>
            <% when "done" then %>
              <div class="bg-secondary">お裾分け完了</div>
            <% end %>
          </div>
        <% end %>
        <div class="card-body row">
          <div class="col">締切<br/><%= time_short(food_share.limit_time) %></div>
          <div class="col">受け渡し<br/><%= time_short(food_share.give_time) %></div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
