<h1>FoodShares#index</h1>
<p>Find me in app/views/food_shares/index.html.erb</p>

<h2>ログインユーザーのお裾分け料理</h2>
<h3>お裾分け直近の料理</h3>
<%= render partial: "shared_food", locals: { food_shares: @mine_undone } %>


  <h3>お裾分け募集中の料理</h3>
  <%= render partial: "shared_food", locals: { food_shares: @mine_before } %>

<div id="hoge">
<h3>お裾分け終了後の料理</h3>
<%= render partial: "shared_food", locals: { food_shares: @mine_done } %>
</div>

<h2>友達のお裾分け料理</h2>
<h3>応募済みのお裾分け料理</h3>
<%= render partial: "shared_food", locals: { food_shares: @friend_undone } %>

<h3>募集中のお裾分け料理</h3>
<%= render partial: "shared_food", locals: { food_shares: @friend_before } %>

<h3>終了したお裾分け料理</h3>
<%= render partial: "shared_food", locals: { food_shares: @friend_done } %>
