<main id="nottop" class="text-center mt-4 pt-4 mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted mb-3">新しいお裾分け</h2>

    <%= form_with(model: @food_share, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :food_name, "お裾分けする料理" %><br />
        <%= f.collection_select :food_record_id, current_user.food_records.where.not(food_name: ""), :id, :food_name, class: "form-control  w-50 mx-auto" %>
      </div>

      <div class="form-group">
        <%= f.label :limit_number, "募集人数上限" %><br />
        <%= f.select :limit_number, options_for_select((1..5).to_a), {}, class: "form-control  w-50 mx-auto" %>
      </div>

      <div class="form-group text-center w-75 mx-auto">
        <%= f.label :limit_time %><br/>
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"  name="q[limit_time]" id="q_limit_time"/>
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class="form-group text-center w-75 mx-auto">
        <%= f.label :give_time %><br/>
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"  name="q[give_time]" id="q_give_time"/>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :memo, "メモ" %><br />
        <textarea class="form-control w-75 mx-auto" rows="3" name="item[memo]" id="item_memo"></textarea>
      </div>

      <%= render partial: "googlemap" %>
      <%= f.hidden_field :latitude, step: "0.000000000000001", id: "latitude", autofocus: true, value: current_user.latitude %>
      <%= f.hidden_field :longitude, step: "0.000000000000001", id: "longitude", autofocus: true, value: current_user.longitude %>

      <div class="actions mt-3">
        <%= f.submit "募集する", class: "btn btn-info w-25" %>
      </div>
    <% end %>
  </div>
</main>
