<main id="nottop" class="text-center mt-4 pt-4 mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted mb-3">お裾分け料理の詳細</h2>

    <div class="h4">
      <%= @food_share.food_name %>
    </div>
    <div class="card mx-auto" style="max-width: 400px;">
      <%= link_to food_record_path(@food_share.food_record_id) do %>
        <%= image_tag @food_share.image.url, class: "card-img" %>
        <div class="card-img-overlay text-center text-white">
          <%= render partial: 'status_friend' %>
          <%= render partial: 'status_mine' %>
        </div>
      <% end %>
      <div class="card-body row">
        <div class="col">締切<br/><%= time_short(@food_share.limit_time) %></div>
        <div class="col">受け渡し<br/><%= time_short(@food_share.give_time) %></div>
      </div>
    </div>

    <div class="mb-3">
      <div class="h4 mt-3">待ち合わせ場所</div>
      <%= render partial: "distance_matrix" %>
      <%= render partial: "d_googlemap" %>
    </div>



    <% if @food_share.memo.present? %>
      <div>メモ：<%= @food_share.memo %></div>
    <% end %>

    <% if before_limit_time?(@food_share) %>
      <% unless @food_share.user_id == current_user.id %>
        <p><%= render partial: 'matching' %></p>
      <% end %>
    <% else %>
      <div>お裾分け募集は終了しました</div>
    <% end %>
    <p>募集人数上限：<%= @food_share.limit_number %></p>

    <div>
      <%= render partial: 'fs_comments/new' %>
    </div>
  </div>
</main>
