<header>
  <%= link_to "cookingLife", root_path %>
  <% if user_signed_in? %>
    <div>
      <a>username: </a>
      <%= current_user.name %>
      <%= link_to "ログアウトする", logout_path %>
    </div>
  <% else %>
    <%= link_to "新規登録する", signup_path %>
    <%= link_to "ログインする", login_path %>
  <% end %>
</header>
