
<header role="banner">

  <button type="button" class="drawer-toggle drawer-hamburger">
    <% if user_signed_in? && unchecked_notifications.any? %>
      <i class="fa fa-circle text-left" style="color: gold;"></i>
    <% end %>
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>

  <nav class="drawer-nav" role="navigation">
    <% if user_signed_in? %>
      <ul>
        <li class="nav-item list-unstyled my-3">
            <%= link_to("ログアウト", logout_path,
            data: {confirm: "本当にログアウトしますか？"}, class: "nav-link text-info") %>
        </li>
        <li class="nav-item list-unstyled my-3">
          <%= link_to notifications_path, class: "nav-link text-info" do %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
              お知らせ
          <% end %>
        </li>
      </ul>
      <div class="row border-top pt-3">
        <%= link_to user_path(current_user), class: "mx-auto" do %>
          <div class="col-12 text-center">
            <%= render partial: 'shares/user_icon', locals: { user: current_user, id_img: "slider_user_img" } %>
          </div>
          <div class="col-12 text-center text-muted">
            <h4><%= current_user.name %></h4>
          </div>
        <% end %>
        <div class="col-12 text-center pb-3">
          <%= render partial: 'shares/follow_count', locals: { user: current_user, follower: "follower-count-header", following: "following-count-header" } %>
        </div>
      </div>
    <% else %>
      <ul>
        <li class="nav-item list-unstyled">
            <%= link_to("会員登録", signup_path, class: "nav-link text-info") %>
        </li>
        <li class="nav-item list-unstyled">
            <%= link_to("ログイン", login_path, class: "nav-link text-info") %>
        </li>
        <li class="nav-item list-unstyled">
            <%= link_to "ゲストログイン", guest_login_path, method: :post, class: "nav-link text-info" %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
