<!DOCTYPE html>
<html>
  <head>
    <%= favicon_pack_tag 'logo.jpeg' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CookingLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="drawer drawer--left">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
